<div class="balloon-description cu-map-feed-content">
  <h3>Room Details</strong></h3>
<!-- <strong>{{ page.title }}</strong> -->
<ul>
  <!--
  {% if page.code %}
    <li>Building Code: {{ page.code }}</li>
  {% endif %}
  {% if page.room %}
    <li>Room Number: {{ page.room }}</li>
  {% endif %}
  -->
  {% if page.type %}
  <li><strong>Room Type:</strong> {{ page.type }}</li>
  {% endif %}
  {% if page.capacity %}
    <li><strong>Max Capacity:</strong> {{ page.capacity }}</li>
  {% endif %}
  {% if page.seating %}
    <li><strong>Seating Capactiy:</strong> {{ page.seating }}</li>
  {% endif %}
  {% if page.seating_type %}
    <li><strong>Seating Type:</strong> {{ page.seating_type }}</li>
  {% endif %}
  {% if page.furniture %}
    <li><strong>Room Furniture:</strong> {{ page.furniture }}</li>
  {% endif %}
  {% if page.presentation %}
    <li><strong>Presentation System:</strong> {{ page.presentation }}</li>
  {% endif %}
  {% if page.displays %}
    <li><strong>Number of Displays:</strong> {{ page.displays }}</li>
  {% endif %}
  {% if page.input_types %}
    <li><strong>Display Input Types:</strong> {{ page.input_types }}</li>
  {% endif %}
  {% if page.sound_system %}
    <li><strong>Sound System:</strong> {{ page.sound_system }}</li>
  {% endif %}
  {% if page.dvdcd %}
    <li><strong>DVD/CD Player:</strong> {{ page.dvdcd }}</li>
  {% endif %}
  {% if page.board_type %}
    <li><strong>Board Type:</strong> {{ page.board_type }}</li>
  {% endif %}
  {% if page.lecture_capture %}
    <li><strong>Lecture Capture:</strong> {{ page.lecture_capture }}</li>
  {% endif %}
  {% if page.clicker_frequency %}
    <li><strong>Clicker Frequency:</strong> {{ page.clicker_frequency }}</li>
  {% endif %}
  {% if page.distance_education %}
    <li><strong>Distance Education:</strong> {{ page.distance_education }}</li>
  {% endif %}
  {% if page.document_camera %}
    <li><strong>Document Camera:</strong> {{ page.document_camera }}</li>
  {% endif %}
  </ul>
</div>
<style>
  #bln-shell .bln-modal #balloon-content #balloon-details .balloon-description.cu-map-feed-content {
    padding: 0 0 10px 0;
  }
  #bln-shell .bln-modal #balloon-content #balloon-details .cu-map-feed-content ul {
    list-style:none;
    margin:0;
    padding:0;
  }
  #bln-shell .bln-modal #balloon-content #balloon-details .cu-map-feed-content li {
    list-style:none;
    margin:0;
    padding:10px 0;
    border-bottom:1px solid #ddd;
  }
</style>
