<strong><li>{{ page.title }}</strong>
<ul>
  <li>{{ page.title }}</li>
  <li>Building Code: {{ page.code }}</li>
  <li>Room Number" {{ page.room }}</li>
  <li>Room Type: {{ page.type }}</li>
  <li>Max Capacity: {{ page.capacity }}</li>
  <li>Seating Capactiy: {{ page.seating }}</li>
  <li>Seating Type: {{ page.seating_type }}</li>
  <li>Room Furniture: {{ page.furniture }}</li>
  <li>Presentation System: {{ page.presentation }}</li>
  <li>Number of Displays: {{ page.displays }}</li>
  <li>Display Input Types: {{ page.input_types }}</li>
  <li>Sound System: {{ page.sound_system }}</li>
  <li>DVD/CD Player: {{ page.dvdcd }}</li>
  <li>Board Type{{ page.board_type }}</li>
  <li>Lecture Capture: {{ page.lecture_capture }}</li>
  <li>Clicker Frequency: {{ page.clicker_frequency }}</li>
  <li>Distance Education: {{ page.distance_education }}</li>
  <li>Document Camera: {{ page.document_camera }}</li>
</ul>
