<div class="balloon-description cu-map-feed-content">
<strong>{{ page.title }}</strong>
<ul>
  {% if page.code %}
    <li>Building Code: {{ page.code }}</li>
  {% endif %}
  {% if page.room %}
    <li>Room Number: {{ page.room }}</li>
  {% endif %}
  {% if page.type %}
    <li>Room Type: {{ page.type }}</li>
  {% endif %}
  {% if page.capacity %}
    <li>Max Capacity: {{ page.capacity }}</li>
  {% endif %}
  {% if page.seating %}
    <li>Seating Capactiy: {{ page.seating }}</li>
  {% endif %}
  {% if page.seating_type %}
    <li>Seating Type: {{ page.seating_type }}</li>
  {% endif %}
  {% if page.furniture %}
    <li>Room Furniture: {{ page.furniture }}</li>
  {% endif %}
  {% if page.presentation %}
    <li>Presentation System: {{ page.presentation }}</li>
  {% endif %}
  {% if page.displays %}
    <li>Number of Displays: {{ page.displays }}</li>
  {% endif %}
  {% if page.input_types %}
    <li>Display Input Types: {{ page.input_types }}</li>
  {% endif %}
  {% if page.sound_system %}
    <li>Sound System: {{ page.sound_system }}</li>
  {% endif %}
  {% if page.dvdcd %}
    <li>DVD/CD Player: {{ page.dvdcd }}</li>
  {% endif %}
  {% if page.board_type %}
    <li>Board Type: {{ page.board_type }}</li>
  {% endif %}
  {% if page.lecture_capture %}
    <li>Lecture Capture: {{ page.lecture_capture }}</li>
  {% endif %}
  {% if page.clicker_frequency %}
    <li>Clicker Frequency: {{ page.clicker_frequency }}</li>
  {% endif %}
  {% if page.distance_education %}
    <li>Distance Education: {{ page.distance_education }}</li>
  {% endif %}
  {% if page.document_camera %}
    <li>Document Camera: {{ page.document_camera }}</li>
  {% endif %}
  </ul>
</div>
<style>
  #bln-shell .bln-modal #balloon-content #balloon-details .cu-map-feed-content ul {
    list-style:none;
    margin:0;
    padding:0;
  }
  #bln-shell .bln-modal #balloon-content #balloon-details .cu-map-feed-content li {
    list-style:none;
    margin:0;
    margin-bottom:-1px;
    padding:10px 0;
    border-top:1px solid #bbb;
    border-bottom:1px solid #bbb'
  }
</style>
